* {
 text-transform: uppercase;
 color: lightyellow;
}

html, body {
 height: 100%;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
}

nav {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 border-top: 7px solid lightyellow;
 border-bottom: 7px solid lightyellow;
 font-weight: bold;
}

nav ul {
 display: flex;
 flex-direction: column;
 align-items: center;
}

nav li {
 margin-bottom: 30px;
}

nav li a {
 font-size: 30px;
 padding: 10px;
}

h1 {
 margin: 20px;
 font-size: 80px;
}

.activenav {
 border-bottom: solid 2px lightyellow;
}

@media screen and (min-width: 600px) {
 nav {
  display: block;
  width: auto;
  padding: 30px 50px 45px;
  border: 5px solid lightyellow;
 }

 nav ul {
  flex-direction: unset;
  justify-content: space-around;
 }

 nav li {
  margin: 0px;
 }

 nav li a {
  font-size: medium;
  padding: 5px;
 }

 h1 {
  margin: 0px;
  margin-bottom: 20px;
 }
}
